<!-- Include Views  -->
<%- include("header") -%>
   
    <!-- Re-using the class styles: box -->
    <div class="flex-container1">
      <img class="toDoListIcon" src="images/toDoListIcon.png" alt="toDoListIcon.png">
    </div>

    
    <div class="boxMargin">
      <div class="box">
        <% newListItems.forEach(item => {%>
          <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" name="checkboxId" value="<%=item._id%>" onChange="this.form.submit()">
              <input type="hidden" name="listName" value="<%= listTitle %>">
              <p><%=  item.name %></p>
            </div>
          </form>
      <% }); %>
    
          <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
          </form>
      </div>
    </div>


    <%# This tag comes from EJS Template%>
    <%# https://ejs.co/#docs%>
    <%# look at the Tags section%>

<%- include("footer") -%>



